
<div id="AlertDiv">
	<h1>Задачи</h1>
	<%= content_tag :div, class: "header", id: "new_todo" do -%>
		<% link_to image_tag("image.png",size: "17x17"), "", id: "add_todo" %>
	<% end -%>
</div>

<div class="around-container">
	<div class="container-fluid">
		<div class="row " >
		<% @projects.each do |project| %>
			<%= content_tag :div, class: "col-xl-4 col-lg-4 col-md-6  col-sm-0 col-0" do -%>
				<div class="inside-box">
					<div class="ProjectName">
						<h2><%= project.title %></h2>
					</div>
					<div class="ProjectTodos">
						<ul>
						<% project.todos.each do |todo| %>
							<li> 
								<input name="todo[id]" id="<%= todo.id.to_s %>" type="checkbox" <%= todo.isCompleted ? "checked" : "" %>>
								<span id="span-<%= todo.project_id.to_s %>-<%= todo.id.to_s %>"> <%= todo.text %> </span>
							</li>
						<% end %>
						</ul>
					</div>
	 			</div>
			<% end -%>
		<% end %>
		</div>
	</div>
</div>

<div class="todo_block">
	
	<%= form_for :todo, url: { action: "create" }, local: true, :html => {:id => "todo_create_form"} do |form| %>
		<div class="todo_form">
  		<h2>Новая задача</h2>
  		<%= form.text_field :text, placeholder: "Назовите задачу..."%>
			<div class="select-div">
  			<%= form.select :project_id, options_for_select(@projects.map{|p| [p.title,p.id] }), {}, {} %>
			</div>
  		<div>
  			<%= link_to 'ОТМЕНА', "", id: 'hide_form'  %>  
  			<%= link_to 'OK', "", id: 'submit'  %>    
 			</div>
		</div>
	<% end %>
</div>





